extends ../includes/layout.pug
block title
  title RoboScape Curriculum
block content
  .container
    h2 RoboScape Curriculum
    p 
        | The main curriculum for RoboScape focuses on using RoboScape’s unique distributed design to make cybersecurity concepts accessible to middle and high school age students. Participants will learn about encryption, denial of service attacks, brute force attacks, sequence numbers, and more, in a fun setting where they are able to apply what they learn in hands-on activities including competitions where they can see how well their cyber attacks and defenses hold up.
        br
        a(href="/roboscape/cybersecurity") Click here for more information about the Cybersecurity curriculum.
    p
        | While RoboScape inherently lends itself towards lessons in general robotics, the new inclusion of RoboScape Online has allowed for new lessons including autonomous driving and other sensor-based tasks. By using simulation, including these activities in your classroom comes at no additional cost, even if the real-world versions of these devices would be out of reach for many classrooms.
        br
        a(href="/roccem") See the ROCCEM page for more information on this initiative.

