extends includes/layout.pug
block title
  title BeatBlox
block content
  mixin ytPlayer(id, width, height)
    iframe(allowfullscreen="1" width=width height=height src='https://www.youtube.com/embed/'+id)

  .container
    div(style='text-align: center')
      img(src='/images/beatblox/logo.png' style='width: 150px; margin: 25px' alt='BeatBlox Logo')

    h2(style='text-align: center') BeatBlox
    p
      | BeatBlox is the latest extension to the #[a(href='https://netsblox.org/') NetsBlox] block-based programming environment developed at Vanderbilt University.
      | NetsBlox was built on top of the open-source codebase of #[a(href='https://snap.berkeley.edu/') Snap!] from UC Berkeley and was specifically designed to teach cutting edge computing concepts such as distributed computing, the Internet of Things, and cybersecurity to novices.
      | It opens the internet to student projects, making computing more relevant to their lives and more engaging.
      | A modular, full year, high school curriculum called #[a(href='https://csfrontiers.org/') Computer Science Frontiers] (CSF) utilizes NetsBlox and is freely available to teachers to bring these capabilities to their classrooms.
      | A new #[a(href='https://www.coursera.org/learn/programming-for-a-networked-world/') online course] can help both students and teachers learn NetsBlox from the ground up.
    p
      | With the creation of BeatBlox, NetsBlox aims to become even more engaging and motivating to students by combining computing with another domain that is already widely loved by people from all backgrounds, music.
      | The overarching goal of BeatBlox is to reach students who have traditionally felt excluded from or unrepresented in computer science.
      | BeatBlox allows students to create high quality music using a rich set of simulated digital instruments, add special effects such as reverb, panning or layering, incorporate public domain tunes into their creations, import sheet music, and even save their compositions for playback on any device.
      | Its built-in networking capabilities make it possible for students to collaborate and create a digital orchestra where each computer plays a single instrument yet remains synchronized.
      | Students can even add visualizations to their music, or conversely, add sound effects or musical scores to their games or digital animations.
    p
      | Check out our sample set of projects demonstrating the many capabilities of BeatBlox.
      | Happy coding!

    strong
      | Each demo is summarized in a brief video, and a link is provided to open the corresponding project in BeatBlox for tinkering.
      | For best compatibility across devices, we recommend that you use the Google Chrome browser on a computer (not a mobile device) when running the demos.
      | To run a project, click the green flag at the top right corner of the BeatBlox interface.
      | If any of the demo videos appear blurry on playback, please ensure that they are playing in full HD quality by clicking the “Cog Wheel” settings icon in the YouTube interface and ensuring that the quality is set to 1080p.

    //- #myCarousel.carousel.hidden-xs.slide(data-ride='carousel', data-interval='', style='height: 765px')
      ol.carousel-indicators(style='font-color: black')
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
        li(data-target='#myCarousel', data-slide-to='5')
        li(data-target='#myCarousel', data-slide-to='6')
        li(data-target='#myCarousel', data-slide-to='7')
        li(data-target='#myCarousel', data-slide-to='8')
      .carousel-inner(style='height: 100%')

        .item.active(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('YVK3ysKePc8', 900, 506)
          h2 Basic Music Functionality
          p(style='max-width: 900px; margin: 0 auto 0 auto') Introduction to BeatBlox showcasing a simple block-based satellite-like musical effect.
          p
          p #[a(href='http://tinyurl.com/BeepBlox', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('_-9BKaLxeQw', 900, 506)
          h2 Multi-Instrument Functionality
          p(style='max-width: 900px; margin: 0 auto 0 auto') BeatBlox-based implementation of Beethoven's "Ode to Joy" highlighting simultaneous playback of multiple instruments along with real-time score visualization.
          p
          p #[a(href='http://tinyurl.com/CodeToJoy', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('t6NO8M-WykQ', 900, 506)
          h2 Real-Time Graphics
          p(style='max-width: 900px; margin: 0 auto 0 auto') Sampling of various easy-to-create visualizations to accompany a musical composition, demonstrating the real-time graphical capabilities of BeatBlox.
          p
          p #[a(href='http://tinyurl.com/BeatBloxVisualizations', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('eqd-MeSWxfI', 900, 506)
          h2 Distributed Projects
          p(style='max-width: 900px; margin: 0 auto 0 auto') Implementation of a four-piece band first on a single computer and then by four individual BeatBlox users being played back synchronously.
          p
          p #[a(href='http://tinyurl.com/MultiInstrument', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('m38ea6as4s0', 900, 506)
          h2 Networked Effects and Graphics
          p(style='max-width: 900px; margin: 0 auto 0 auto') Helicopter flyby on a single computer first, then in three separate browser tabs, and finally, using distributed audiovisual animation across three computers showing a helicopter moving both visually and acoustically between individually running programs.
          p
          p #[a(href='http://tinyurl.com/BeatBloxHelicopter', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('HXxqptj6w0Q', 900, 506)
          h2 External Device Access
          p(style='max-width: 900px; margin: 0 auto 0 auto') Musical compositions demonstrating ease of access to external devices, such as MIDI keyboards and mobile phones. To try maracas on your phone, you need to install the PhoneIoT mobile app from the app store and then scan the QR code as shown in the video.
          p
          p #[a(href='http://tinyurl.com/DeviceMaracas', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('OEMDB83fi3s', 900, 506)
          h2 Open Accessibility and Tinkering
          p(style='max-width: 900px; margin: 0 auto 0 auto') End-to-end demonstration of importing a public domain MIDI song into BeatBlox, changing its key and tempo, and exporting the resulting audio to a file.
          p
          p #[a(href='http://tinyurl.com/MidiImport', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('ymLOQZyKuWc', 900, 506)
          h2 Augmented Reality
          p(style='max-width: 900px; margin: 0 auto 0 auto') Two hardware-free instrument implementations allowing users to experiment with playing music without requiring physical hardware or instruments using a webcam only.
          p
          p #[a(href='http://tinyurl.com/BeatBloxTheremin', target='_blank') Open Project]

        .item(style='height: 100%; text-align: center; background-color: #d8d8d8')
          div(style='padding-top: 20px')
          +ytPlayer('L09BBwpN988', 900, 506)
          h2 Curricular Tasks
          p(style='max-width: 900px; margin: 0 auto 0 auto') Sample curricular module with a simple built-in task with integrated assessment and the ability for teachers to examine the process not just the end result.
          p
          p #[a(href='http://tinyurl.com/BeatBloxGrader', target='_blank') Open Project]

      a.left.hidden-xs.carousel-control(href='#myCarousel', data-slide='prev', style='width: 100px')
        span.glyphicon.glyphicon-chevron-left
      a.right.hidden-xs.carousel-control(href='#myCarousel', data-slide='next', style='width: 100px')
        span.glyphicon.glyphicon-chevron-right

    div(style='text-align: center; margin-top: 80px')
      h3 Basic Music Functionality
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/YVK3ysKePc8", "_blank")')
        +ytPlayer('YVK3ysKePc8', 500, 281)
      p Introduction to BeatBlox showcasing a simple block-based satellite-like musical effect.
      p
      p #[a(href='http://tinyurl.com/BeepBlox', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Multi-Instrument Functionality
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/_-9BKaLxeQw", "_blank")')
        +ytPlayer('_-9BKaLxeQw', 500, 281)
      p BeatBlox-based implementation of Beethoven's "Ode to Joy" highlighting simultaneous playback of multiple instruments along with real-time score visualization.
      p
      p #[a(href='http://tinyurl.com/CodeToJoy', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Real-Time Graphics
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/t6NO8M-WykQ", "_blank")')
        +ytPlayer('t6NO8M-WykQ', 500, 281)
      p Sampling of various easy-to-create visualizations to accompany a musical composition, demonstrating the real-time graphical capabilities of BeatBlox.
      p
      p #[a(href='http://tinyurl.com/BeatBloxVisualizations', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Distributed Projects
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/eqd-MeSWxfI", "_blank")')
        +ytPlayer('eqd-MeSWxfI', 500, 281)
      p Implementation of a four-piece band first on a single computer and then by four individual BeatBlox users being played back synchronously.
      p
      p #[a(href='http://tinyurl.com/MultiInstrument', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Networked Effects and Graphics
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/m38ea6as4s0", "_blank")')
        +ytPlayer('m38ea6as4s0', 500, 281)
      p Helicopter flyby on a single computer first, then in three separate browser tabs, and finally, using distributed audiovisual animation across three computers showing a helicopter moving both visually and acoustically between individually running programs.
      p
      p #[a(href='http://tinyurl.com/BeatBloxHelicopter', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 External Device Access
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/HXxqptj6w0Q", "_blank")')
        +ytPlayer('HXxqptj6w0Q', 500, 281)
      p Musical compositions demonstrating ease of access to external devices, such as MIDI keyboards and mobile phones. To try maracas on your phone, you need to install the PhoneIoT mobile app from the app store and then scan the QR code as shown in the video.
      p
      p #[a(href='http://tinyurl.com/DeviceMaracas', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Open Accessibility and Tinkering
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/OEMDB83fi3s", "_blank")')
        +ytPlayer('OEMDB83fi3s', 500, 281)
      p End-to-end demonstration of importing a public domain MIDI song into BeatBlox, changing its key and tempo, and exporting the resulting audio to a file.
      p
      p #[a(href='http://tinyurl.com/MidiImport', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Augmented Reality
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/ymLOQZyKuWc", "_blank")')
        +ytPlayer('ymLOQZyKuWc', 500, 281)
      p Two hardware-free instrument implementations allowing users to experiment with playing music without requiring physical hardware or instruments using a webcam only.
      p
      p #[a(href='http://tinyurl.com/BeatBloxTheremin', target='_blank') Open Project]

    div(style='text-align: center; margin-top: 80px')
      h3 Curricular Tasks
      div(style='margin: 20px auto 20px auto')
        div(style='width: 500px; height: 281px; position: absolute; display: inline-block; cursor: pointer', onclick='window.open("https://youtube.com/video/L09BBwpN988", "_blank")')
        +ytPlayer('L09BBwpN988', 500, 281)
      p Sample curricular module with a simple built-in task with integrated assessment and the ability for teachers to examine the process not just the end result.
      p
      p #[a(href='http://tinyurl.com/BeatBloxGrader', target='_blank') Open Project]
