extends includes/layout.pug
block title
  title Curriculum
block content
  .container
    h2 Curriculum

    p NetsBlox is a powerful educational programming platform that extends the capabilities of visual programming environments like Snap! and Scratch, enabling students to explore computer science concepts through networked and distributed programming. This page provides a comprehensive list of resources designed to help both educators and learners harness the full potential of NetsBlox. Our resources cater to various educational levels and skill sets, ensuring that both beginners and advanced students can benefit from NetsBlox. Whether you are looking for tutorials, lesson plans, or project ideas, our curated links will guide you through engaging and interactive educational experiences.

    h4 Curriculum Overview

    ul
      li #[a(href = "/roboscape") Robotics and Cybersecurity]
        p With RoboScape and RoboScape Online, students can write NetsBlox programs that remotely control physical or virtual robots. Unlike other educational robotics platforms, RoboScape intentionally exposes your wireless robot commands to other projects, which opens the door for others to hack your robot and take control! This leads into various topics in cybersecurity such as encryption and cipher-breaking.
      li #[a(href = "https://csfrontiers.org/curriculum.html") CS Frontiers]
        p CS Frontiers (CSF) is a Tennessee-approved, year-long high school curriculum using NetsBlox to cover several advanced topics including #[a(href = "https://csfrontiers.org/distributed-computing.html") distributed computing], #[a(href = "https://csfrontiers.org/iot-and-cybersecurity.html") IoT and Cybersecurity], #[a(href = "https://csfrontiers.org/ai-and-machine-learning.html") AI and Machine Learning], and #[a(href = "https://csfrontiers.org/software-engineering.html") software engineering]. The curriculum is free to use or adapt, but is only available to practicing educators and education researchers. You may click any of the "locked" links to request access.
      li #[a(href = "/wildlife") Wildlife Conservation]
        p Some of the many services provided by NetsBlox include accessing online databases of animals from around the world. This curriculum uses a few of these services to create some interesting, novice-friendly projects with an underlying theme of showing how technology can assist in real-world wildlife conservation problems.
      li #[a(href = "/ai-camp") AI Summer Camp]
        p In addition to the AI curriculum created as part of CSF (see above), we have created a highly engaging and motivating AI Summer Camp curriculum built around the latest features in NetsBlox. In this curriculum, students explore the early history of AI, some classical AI algorithms, as well as some of the latest advanced in modern AI. Importantly, these topics are taught in a hands-on way and many projects have students write their own NetsBlox code to create an AI "agent" that can solve various game-like problems and puzzles!
