extends includes/layout.pug
block title
  title PhoneIoT
block content
  mixin ytPlayer(url, title)
    .panel.panel-default.youtube
      .panel-body
        .embed-responsive.embed-responsive-16by9
          iframe(class="embed-responsive-item", allowfullscreen="allowfullscreen", src= url)

  .container
      +ytPlayer('https://www.youtube.com/embed/Or4zIiDn0m0')

      h2 IoT Education with PhoneIoT
      p
        | PhoneIoT is a free mobile app for #[a(href='https://apps.apple.com/be/app/phoneiot/id1567444865#?platform=iphone') iOS]
        | and #[a(href='https://play.google.com/store/apps/details?id=org.netsblox.phoneiot') Android] that allows you to
        | connect your device to NetsBlox and access its sensors and display
        | from your NetsBlox projects. This enables students to create things like tilting controls
        | for a game (accelerometer), tracking your device's position on a map (location),
        | or creating an orientation-aware system like a compass (orientation),
        | all from within NetsBlox. The customizable display allows users to
        | populate the device's screen with controls like labels, buttons, joysticks,
        | image displays, and more. Custom controls can even be configured to send
        | a message to your NetsBlox project when a user interacts with them,
        | such as pressing a button or moving a joystick.
      p
        | After installing the app on your device and pressing "Connect" in the app,
        | PhoneIoT has very little setup to getting started: you simply need to enter
        | the "Device ID" from the app menu into your project to connect to the device
        | from NetsBlox with the #[a(href='https://editor.netsblox.org/docs/services/PhoneIoT/index.html') PhoneIoT service].
      p
        | PhoneIoT provides two main ways of interacting with both the sensors and display:
        | explicit requests (using normal NetsBlox RPC return values), and event-based "streaming"
        | access (using normal NetsBlox messages). The former is useful for introducing
        | students to PhoneIoT, and the latter is a more streamlined method which
        | aims to teach students the use cases of live data streaming and event-driven
        | communication, both of which are common paradigms in industrial IoT applications.

      .container(style='text-align: center')
        img(src='images/phoneiot/fitness.jpg', style='width: 300px; padding: 25px' alt='Fitness tracker project screenshot')
        img(src='images/phoneiot/with-controls.jpg', style='width: 300px; padding: 25px' alt='PhoneIoT device with custom controls')

      h3 Examples and Project Walkthroughs

      p
      | The following resources give more information about PhoneIoT,
      | including some student projects to teach targeted concepts.
      | Any video resources that start with a non-empty project will have a link
      | in the description to the starter code.
      br
      br

      ol
        li
          a(href='https://www.youtube.com/watch?v=oRWda9jT_c8') Introduction to PhoneIoT: Basic usage, including how to access the sensors and custom display
        li
          a(href='https://www.youtube.com/watch?v=iyxgsvazFq0') Drop Game Project: Using sensor data streaming with the accelerometer to control a sprite's movement
        li
          a(href='https://www.youtube.com/watch?v=kTtO7iuRQWI') GPS Tracker: Combining sensor data streaming, custom controls, and other NetsBlox services to make a live GPS tracker

      h3 Required Tools
      p
      | The only required hardware for using PhoneIoT is an iOS or Android mobile device.
      | The PhoneIoT app, as well as NetsBlox itself, are available free of charge.