extends includes/layout.pug
block title
  title RoboScape
block content
  mixin ytPlayer(url, title)
    .panel.panel-default.youtube
      .panel-body
        .embed-responsive.embed-responsive-16by9
          iframe(class="embed-responsive-item", allowfullscreen="allowfullscreen", src= url)

  +ytPlayer('https://www.youtube.com/embed/UtcMZVPvnUs')

  .container
      h2 RoboScape and RoboScape Online
      p
        | RoboScape adds exciting new robotics activities to NetsBlox, while maintaining the novice-friendliness and accessibility enjoyed in other NetsBlox activities. Students can learn about autonomous robotics, cybersecurity, and much more, while staying within the familiar NetsBlox interface! 
        br
        a(href="/roboscape/roboscape") Click here for more information about RoboScape.
      p
        | Additionally, a robotics simulation is available through RoboScape Online. All the code used with RoboScape robots works with RoboScape Online, but the simulated robots can have additional sensors to perform more complex tasks. This simulation allows students to share a virtual space online, enabling collaborative learning and teamwork, whether they’re inside or outside the classroom. 
        br
        a(href="/roboscape/roboscape-online") Click here for more information about RoboScape Online.
      p 
        | Together, RoboScape and RoboScape Online provide students with exciting hands-on activities to demonstrate how code can interact with the physical world, while engaging them with new challenges and opportunities for collaboration and competition. 
        br
        a(href="/roboscape/curriculum") Click here for more information about the RoboScape curriculum.


