extends includes/layout.pug
block title
  title Wildlife Conservation
block content
  .container
    h2 Wildlife Conservation

    p This resource hub showcases educational projects that leverage the power of NetsBlox to teach students about wildlife conservation. By integrating real-world data and interactive programming, these projects provide hands-on learning experiences that highlight the importance of protecting our planet's biodiversity. NetsBlox's unique capabilities enable students to create simulations, visualizations, and networked applications that illustrate key concepts in wildlife conservation, from tracking animal migrations to analyzing environmental impact.

    p This module is designed to fill five 3-hour sessions with a target demographic of early high school students. Importantly, no prior programming experience is required. Materials and projects for each day are provided below. Note that the final day is intended to cover student-chosen personal or group projects.

    h4 Materials

    ul
      li #[a(href = "https://docs.google.com/presentation/d/16jVldPfZpInwWujLVMXu-xmSnAb3sDPTJi9V2TnjJf0/edit?usp=sharing") Slides]
        p These slides introduce an interesting technology trend in modern wildlife conservation each day. Four days of brief framing slides are included.
      li Project: Wildcam Camera Plotter
        p This project has students create a program that accesses the "Wildcam" NetsBlox service in order to view random images from camera traps placed out in the wild. See the #[a(href = "https://editor.netsblox.org/?action=present&Username=devinjean&ProjectName=wildcam-plotter-simple&editMode&noRun") Completed Project].
      li Project: Movebank Animal Tracker
        p This project uses the "Movebank" NetsBlox service to access real-world location data from animal-borne tracking collars/tags. Students take this raw location data and combine it with features from the "GoogleMaps" NetsBlox service in order to plot the animals' paths on a map. See the #[a(href = "https://editor.netsblox.org/?action=present&Username=devinjean&ProjectName=movebank-plotter-simple&editMode&noRun") Completed Project].
      li Project: Tree of Life
        p This project gets students to write code that searches the GBIF online taxonomical database for animals. Students use this data and write code that visually displays information and images about any animal. See the #[a(href = "https://editor.netsblox.org/?action=present&Username=devinjean&ProjectName=tree-of-life-simplest&editMode&noRun") Completed Project] and the #[a(href = "https://editor.netsblox.org/?action=present&Username=devinjean&ProjectName=tree-of-life-simplest-starter&editMode&noRun") Starter Template].
      li Project: Species Guessing Game
        p This project has students use the "Wildcam" NetsBlox to look up images of specific species. Students then use this data to create a guessing game where players are presented two images and have to decide whether they are images of the same species or not. See the #[a(href = "https://editor.netsblox.org/?action=present&Username=devinjean&ProjectName=wildcam-guess-game&editMode&noRun") Completed Project].

    h4 Acknowledgements

    p This curriculum was created as part of a larger project sponsored by the National Science Foundation (#[a(href = 'https://www.nsf.gov/awardsearch/showAward?AWD_ID=2312391&HistoricalAwards=false') Award #2312391])